<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <title>Game</title>
</head>
<body>
    <section id="nickname_cnt">
        <form>
            <input type="text" id="nickname" placeholder="Nickname" value="Nickname">
            <button type="button" onclick="getNickname()">Enter</button>
        </form>
    </section>

    <section id="lobby_options">
        <form>
            <input type="text" placeholder="Room code">
            <button type="button" onclick="joinRoom()">Join</button>
            <button type="button" onclick="createRoom()">Create</button>
        </form>
    </section>
    <!-- 
        create this when main.js is loaded
    -->
    <section id="game">
        <div id="gameLeftSide">
            <div id="gameLeftSide_cnt">
                <ol id="connected"></ol>
                </div>
            </div>
        </div>
        <div id="gameRightSide">
            <div id="last_winner">Last winner: <span id="winner"></span></div>
            <div id="ready_btn_cnt">
                <button id="ready_btn" onclick="ready()">Ready</button>
            </div>
        </div>

        <div id="countdown_cnt">
            <div id="countdown">Ready</div>
        </div>
        <div id="win_msg_cnt">
            <div id="win_cnt">
                <div id="win_msg"><span id="winner">Nickname</span> has won!</div>
                <button id="continue_btn" onclick="proceed()">Continue</button>
            </div>
        </div>
    </section>
    
    <script src="/js/main.js"></script>
</body>
</html>