<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <title>Game</title>
</head>
<body>
    <section id="nickname_cnt">
        <form>
            <input type="text" id="nickname" placeholder="Nickname">
            <button type="button" onclick="getNickname()">Enter</button>
        </form>
    </section>
    <script src="/js/nickname.js"></script>

    <section id="lobby_options">
        <form>
            <input type="text" placeholder="Room code">
            <button type="button">Join</button>
            <button type="button">Create</button>
        </form>
    </section>
    <!-- 
        create this when main.js is loaded
    <ul id="connected"></ul>
    <div id="win_msg_cnt">
        <div id="win_msg"></div>
        <button>Ok</button>
    </div>
        <button id="ready_btn" onclick="ready()">Ready</button>
        <script src="/js/main.js"></script>
    -->
</body>
</html>