@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root{
    --fieldSize : 550px;
    --BGcolor: #505f67;
}
* {
    border-style: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: var(--BGcolor);
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    /*width: var(--fieldSize);
    height: var(--fieldSize);*/
    border: 3px solid white;
    background: black;
}