@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root{
    --BGcolor: #505f67;
}
* {
    border-style: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: var(--BGcolor);
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    border: 3px solid white;
    background: black;
}
#connected {
    font-size: 18px;
    position: absolute;
    top: 50px;
    left: 0px;
}
#restart_btn {
    display: none;
}
#win_msg_cnt{
    display: none;
}