@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
:root{
    --BGcolor: #2D383E;
}
* {
    border-style: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

body {
    background: var(--BGcolor);
    height: 100vh;
}
canvas {
    border: 3px solid white;
    background: black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#connected {
    font-size: 30px;
    width: 400px;
    counter-reset: item;
    list-style: none;
    color: white;
}
#connected li {
    counter-increment: item;
    margin-bottom: 15px;
}
#connected li::before {
    content: counter(item);
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background: var(--background);
    color: black;
    text-align: center;
    display: inline-block;
}
#game {
    display: none;
    align-items: center;
}
#gameLeftSide_cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 65vh;
    padding: 10px;
}
#gameLeftSide {
    display: flex;
    align-items: center;
    height: 100vh;
}
#gameRightSide {
    display: flex;
    align-items: center;
    height: 100vh;
}
#ready_btn_cnt {
    height: 700px;
    width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#ready_btn {
    background: #6ED16E;
    outline: none;
    border: none;
    width: fit-content;
    padding: 12px;
    font-size: 24px;
    font-weight: 600;
    box-shadow: none;
}
#last_winner {
    color: white;
    position: absolute;
    left: 32%;
    font-size: 18px;
    width: 300px;
    top: 30px;
}

#win_msg_cnt{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
#win_cnt {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
#continue_btn {
    outline: none;
    border: none;
    box-shadow: none;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
#continue_btn:hover {
    background: #2AB2F5;
    color: white;
}
#winner {
    font-weight: 600;
}
#win_msg {
    color: white;
    opacity: 1;
    font-size: 30px;
}
#countdown_cnt {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.7;
    position: fixed;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
#countdown {
    opacity: 0.5;
    font-size: 45px;
    color: white;
    font-weight: 700;
}
/* nickname page */
#nickname_cnt {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #2D383E;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nickname_cnt input, #nickname_cnt button {
    padding: 8px;
    border: 3px solid;
    font-size: 30px;
    outline: none;
}
#nickname_cnt button {
    cursor: pointer;
}
#input_cnt{
    display: flex;
}
#input_cnt button {
    background: #2AB2F5;
}